/*
* @Author: Wanglj
* @Date:   2017-09-19 17:07:07
* @Last Modified by:   Wanglj
* @Last Modified time: 2017-09-19 17:12:58
*/

.app{
    display:inline-block;
    width:200px;
    height:200px;
    background-color:#f5f5f5;
}